   .email-validation-img{
        width: 70%;
        height: 50%;
        max-height: 200px;
        background: url('/assets/unlock.svg') no-repeat;
        background-size: contain;
        background-position: center;
    }
