.page-not-found {
    height: 50%;
    max-height: 264px;
    background: url(/assets/error-404.svg) no-repeat;
    background-size: contain;
    position: absolute;
    top: 150px;
    right: 0;
    left: 70px;
    bottom: 0;
  }