.inline-input-wrapper {
    border-bottom: 1px solid #e6e5e8;
    padding: 9px 18px;
    input {
      padding: 4px 0;
      width: 80%;
      border: none;
      border-bottom: 1px solid;
    }
    input:focus {
        outline: none;
      }

    .icon {
      top: 1px;
      font-size: 20px;
    }

  }
  .select{
    width: 80%;
}