@import './../../../globals/styles/variables';

.auth-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url('/assets/login-bg.jpg') no-repeat;
  background-size: cover;
  overflow-y: auto;

  &:after {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(4, 138, 129, 0.9), rgba(3, 79, 74, 0.96));
    background-position: right top;
  }

  p {
    &.text-center {
      text-align: center;
    }

    &.margin-bottom {
      margin-bottom: 15px;
    }
  }

  a {
    &.ant-btn {
      line-height: 38px;
    }
  }

  .auth-page-container {
    align-self: baseline;
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    color: $login-text-color;
    padding-bottom: 50px;
  }

  .facebook {
    position: relative;
    background-color: $facebook-color;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 40px;
    font-size: 14px;
    padding: 3px 0px;

    .facebook-button {
      width: 100%;
      display: block;
      border: 0;
      background: transparent;
      cursor: pointer;
      padding: 4px;

      &:focus {
        outline: 0;
      }

      .icon {
        display: inline-block;
        left: 25px;
        top: 10px;
        font-size: 20px;
        margin-right: 15px;
      }
    }
  }

  .ant-btn {
    background-color: $login-button-color;
    color: $login-button-text-color;
    border: 0;
    font-size: 14px;
    text-shadow: 0;
    line-height: initial;

    &.margin-bottom {
      margin-bottom: 15px;

      &.margin-bottom-large {
        margin-bottom: 100px;
      }
    }

    &.ant-btn-background-ghost {
      border: 1px solid $login-button-border-color;
      color: $login-text-color;
    }
  }

  .auth-page-form-group {
    display: block;
    margin-bottom: 30px;
  }

  .inline-input-wrapper {
    position: relative;
    margin-bottom: 15px;
    display: block;
    padding-left: 38px;
    border-bottom: 1px solid $login-input-border-color;

    input {
      width: 100%;
      display: block;
      background: transparent;
      border: 0;
      padding: 8px 0;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $placeholder-color;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $placeholder-color;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $placeholder-color;
      }
    }

    .icon {
      display: block;
      position: absolute;
      left: 0;
      top: 3px;
      font-size: 20px;
    }
  }

  .link {
    cursor: pointer;
    color: $login-text-color;
    border-bottom: 1px solid $login-button-border-color;
  }

  .login-logo-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 20vh;

    .login-logo {
      width: 150px;
      height: 150px;
      background: url('/assets/login-logo.svg') no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

@media (max-width: 320px) {
  .auth-page {
    .login-logo-container {
      padding-top: 5vh;

      .login-logo {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
      }
    }

    .auth-page-form-group {
      margin-bottom: 20px;
    }

    .inline-input-wrapper {
      margin-bottom: 5px;
      input {
        padding: 4px 0;
      }

      .icon {
        top: 1px;
        font-size: 16px;
      }
    }
    .facebook {
      margin-left: 12px;
      font-size: 13px;
      width: 222px;
      height: 29px;

      .icon {
        font-size: 18px;
      }
    }
    .ant-btn {
      margin-left: 12px;
      font-size: 13px;
      width: 225px;
      height: 31px;
    }

    p {
      font-size: 13px;
    }

    .link {
      font-size: 13px;
    }
    .back-button {
      .icon {
        top: 2px;
      }
    }
  }
}
