@import './../../globals/styles/variables';
@import './../../globals/styles/functions';

.event-filter {
  .event-filter-wrapper {
    border-bottom: 1px solid $gray-color;
    padding: 8px 50px 8px 15px;
    position: relative;

    .search-field {
      position: relative;
      width: 100%;
      display: block;
      background: $gray-color;
      @include border-radius(20px);

      .icon {
        position: absolute;
        font-size: 20px;
        left: 15px;
      }
    }

    input {
      display: block;
      padding: 5px 15px 5px 45px;
      width: 100%;
      border: none;
      background: transparent;
      vertical-align: text-bottom;

      &:focus {
        outline: none;
      }
    }

    .icon {
      display: inline-block;
      font-size: 24px;

      &.filter-button {
        position: absolute;
        right: 15px;
        top: 5px;
      }
    }
  }
}

.inline-input-label {
  display: inline;
}

.optional-span {
  font-size: 10px;
  color: $gray-dark-color;
  margin-left: 1px;
}

.input-filter-size {
  width: 100%;
  margin-bottom: 5px;
}
.modal-label-filter {
  margin-bottom: 5px;
  display: block;
  font-weight: 400;
}
.filter-modal-select{
  margin-bottom: 15px
}
