@import './variables';
@import './functions';

html,
body {
    height: 100%;
}

hr {
    display: block;
    margin: 20px 0;
    height: 1px;
    border: 0;
    border-top: 1px solid $gray-color;
    padding: 0;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 15px;
}
