$footer-height: 62px;
$login-text-color: #41c1b7;
$login-button-color: #c6f0ed;
$login-button-text-color: #25716c;
$login-input-border-color: $login-text-color;
$login-button-border-color: $login-text-color;
$facebook-color: #3c66c4;

$main-color: #048a81;
$main-dark-color: #0f8a82;
$text-color: #464646;
$gray-color: #eeeeee;
$gray-medium-color: #ebebeb;
$gray-dark-color: rgb(179, 179, 179);
$green-color: #5fb4ae;
$red-color: #f96969;
$white-color: #ffffff;
$blue-color: #1890ff;
$footer-color: #f2f2f2;
$footer-border-color: rgba(210, 210, 210, 0.52);
$footer-text-color: #464646;
$join-button-color: #54c1d8;
$error-color: #d63211;
$placeholder-color: $login-text-color;
$line-color: #e6e5e8;
$secondary-color: #686868;
