$login-text-color: #12998e;
$login-button-color: #c6f0ed;
$login-button-text-color: #25716c;
$login-input-border-color: #12998e;
$login-button-border-color: #12998e;
$facebook-color: #3c66c4;

$main-color: #048a81;
$main-dark-color: #0f8a82;
$text-color: #464646;
$gray-color: #eeeeee;
$gray-medium-color: #EBEBEB;
$gray-dark-color: rgb(179, 179, 179);
$green-color: #5fb4ae;
$red-color: #F96969;
$white-color: #ffffff;
$footer-color: #ebebeb;
$footer-border-color: rgba(210, 210, 210, 0.52);
$join-button-color: #54C1D8;
$error-color:#d63211;
$placeholder-color: #049b91;
$line-color: #E6E5E8;
