@import './../../globals/styles/variables';
@import './../../globals/styles/functions';

.event-tags {
    display: block;
    margin-bottom: 15px;

    .event-tag {
        display: inline-block;
        background-color: $gray-color;
        margin-right: 3px;
        padding: 4px 12px;
        @include border-radius(15px);
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;

        &.red {
            background-color: $red-color;
            color: $white-color;
        }

        &.outline {
            background-color: transparent;
            border: 1px solid $gray-medium-color;
        }
    }
}

@media (max-width: 320px) {
    .event-tags{
        .event-tag{
            padding: 4px 8px;
        }
    }
}
