@import './../../../globals/styles/variables';
@import './../../../globals/styles/functions';

.slider-component {
    .slider-buttons {
        padding: 5px 15px;

        .arrow-button {
            font-size: 32px;
            color: $text-color;
            cursor: pointer;
            @include user-select-none();

            &.active {
                color: $main-color;
            }

            &.right {
                text-align: right;
            }
        }
    }

    .display-inline {
        display: inline;
    }

    .inline-input-wrapper {
        position: relative;
        margin-bottom: 5px;
        padding-left: 10px;

        input {
            display: block;
            background-image: linear-gradient(#fdfdfc, #f1f8ff);
            border: 0;
            width: 100%;
            max-width: 80%;
            padding: 5px 0px;
            border: 1px solid $login-input-border-color;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            text-align: center;
            border-radius: 10px;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $main-color;
                opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $main-color;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: $main-color;
            }
        }

        textarea {
            border: 0;
            border: 1px solid $login-input-border-color;
            width: 100%;
            max-width: 80%;
            font-size: 14px;
            font-weight: 500;
            border-radius: 10px;
            display: block;
            padding: 15px 15px;
            background-image: linear-gradient(#fdfdfc, #f1f8ff);
            @include user-select-none();

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $main-color;
                opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $main-color;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: $main-color;
            }
        }

        .icon {
            display: block;
            position: absolute;
            left: 0;
            top: 3px;
            font-size: 20px;
        }

        span {
            display: inline;
            vertical-align: center;
            font-weight: 1000;
        }
    }
}
