@import './../../../globals/styles/variables';
@import './../../../globals/styles/functions';

.slider-component {
    .slider-buttons {

        .arrow-button {
            font-size: 15px;
            cursor: pointer;
            @include user-select-none();

            &.active {
                color: $main-color;
            }

            &.right {
                text-align: right;
            }
        }
    }

    .display-inline {
        display: inline;
    }
}

.padding-bottom {
    margin-bottom: 15px;
}
