@import './../../globals/styles/variables';
@import './../../globals/styles/functions';

.event-list-item {
    display: block;
    padding: 25px 15px;
    background-image: linear-gradient(#fdfdfc, #f1f8ff);
    @include user-select-none();
}
