@import './../../globals/styles/variables';
@import './../../globals/styles/functions';

.notification-page {
    .ant-btn {
        padding: 0 0;
    }
    .avatar {
        background-color: #ddd;
        background-position: center;
        background-size: cover;
        @include border-radius(50%);
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-top: 5px;
        cursor: pointer;
        @include user-select-none();
    }

    .link {
        &.red-color {
            color: red;
        }
    }
}
