@import './../../globals/styles/variables';
@import './../../globals/styles/functions';

.create-event-header {
  text-align: center;
  margin-bottom: 10%;

  .header-title {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }

  .icon {
    text-align: center;
    font-size: 54px;
    color: $red-color;
    line-height: 1;
  }

  .image {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
