@import './../../globals/styles/variables';

.user-profile {
  h3 {
    margin-bottom: 15px;
  }

  .text-align {
    text-align: center;
    margin-top: 30px;
  }

  .inline{
    display: inline;
  }
  
  .bold{
    font-weight:bold;
  }

  .div-sections{
    font-size: 15px;
    font-weight: bold;
  }

  .avatar {
    border: solid;
    border-width: 1px;
    height: 100px;
    width: 100px;
    border-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .name {
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }

  input {
    border: 0;
    outline: 0;
    margin-bottom: 2px;
  }

  .user-profile-content {
    padding: 25px;
  }
}
