@import './../login/login.page';

.errors {
  color: $error-color;
}
.back-button {
  position: relative;
  display: block;

  .icon {
    position: absolute;
    left: 25px;
    top: 7px;
    font-size: 22px;
  }
}

label {
  display: inline-block;
  margin-left: 10px;
}
input[type='checkbox'] {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.link {
  cursor: pointer;
  color: $login-text-color;
  border-bottom: 1px solid $login-button-border-color;
}
