@import './../../globals/styles/variables';
@import './../../globals/styles/functions';

.page-footer {
  display: block;
  background-color: $footer-color;
  border-top: 1px solid $footer-border-color;
  padding: 0;
  box-shadow: 0 -1px 10px 1px $footer-border-color;

  .page-footer-link {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 8px 0;
    @include user-select-none();

    &.active {
      color: $main-color;

      .icon {
        color: $main-color;
      }
    }

    .icon {
      font-size: 24px;
      color: $footer-text-color;
      line-height: 1;
      padding: 0;
      margin: 0;
    }

    .page-footer-text {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
