@import './../../globals/styles/variables';
@import './../../globals/styles/functions';

.page-footer {
  display: block;
  background-color: $footer-color;
  border-top: 1px solid $footer-border-color;
  padding: 8px 5px;
  box-shadow: 0 -1px 10px 1px $footer-border-color;

  .icon {
    font-size: 38px;
    color: $footer-text-color;
    cursor: pointer;
    @include user-select-none();
    line-height: 1;

    &.active {
      color: $main-color;
    }

    &.icon-large {
      font-size: 42px;
    }
  }
}
