@import './globals/styles/core';

#root {
    display: block;
    height: 100%;
}

.app {
    display: block;
    height: 100%;
    font-family: 'Roboto';
    background-image: linear-gradient(#ffffff, #fefff9);
    background-position: right top;
}
